<section id="control-bar" class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="form-title col-md-8">
                {{create}}
                <h2 ng-show="!owner_create">Edit: Owner</h2>

                <h2 ng-show="owner_create">Create: Owner</h2>

            </div>
        </div>
    </div>
</section>

<section id="item-view" class="row">
    <div class="col-md-6">
        <h3>
            <i class="fa fa-briefcase"></i> {{owner.owner_name}}
            <span ng-if="!owner.owner_name">Untitled</span>
        </h3>
        <h4>
            <span class="label label-danger" ng-show="owner.owner_active == 0">INACTIVE</span>
        </h4>

        <form name="ownerForm" class="form" novalidate>

            <!-- Owner Active -->
            <div class="form-group">
                <label for="owner_active"><b>Active: </b>
                    <input type="checkbox" id="owner_active" name="owner_active" class="form-control"
                           ng-true-value="'1'"
                           ng-false-value="'0'"
                           ng-model="owner.owner_active"
                           ng-checked="owner.owner_active === '1'"
                            /></label>
            </div>
            <!-- ./ Owner Active -->

            <!-- Owner Name -->
            <div class="form-group" ng-class="{ 'has-error' : ownerForm.name.$invalid && ! ownerForm.name.$pristine }">
                <label for="owner_name"><b>Name:</b> <span class="label-note-required">Required</span></label>
                <input type="text" id="owner_name" name="owner_name" class="form-control" ng-model="owner.owner_name"
                       required>

                <p ng-show="ownerForm.owner_name.$invalid && ! ownerForm.owner_name.$pristine" class="help-block">Owner
                    name is required.</p>
            </div>
            <!-- ./ Owner Name -->

            <!-- TODO BRIAN - alert user when email is invalid-->
            <!-- Owner Email -->
            <div class="form-group">
                <label for="owner_email"><b>Email:</b> <span class="label-note-optional">Optional</span></label>
                <input type="email" id="owner_email" name="owner_email" class="form-control"
                       ng-model="owner.owner_email">
            </div>
            <!-- ./ Owner Email -->

            <div class="form-group">
                <label for="owner_phone"><b>Phone:</b> <span class="label-note-optional">Optional</span></label>
                <input type="phone" id="owner_phone" name="owner_phone" class="form-control"
                       ng-model="owner.owner_phone">
            </div>

            <div class="form-group">
                <label for="owner_address"><b>Address:</b> <span class="label-note-optional">Optional</span></label>
                <textarea type="text" id="owner_address" name="owner_address" class="form-control"
                          ng-model="owner.owner_address"></textarea>
            </div>

            <!-- Owner Note -->
            <div class="form-group">
                <label for="note"><b>Note:</b> <span class="label-note-optional">Optional</span></label>
                <textarea type="text" id="note" name="note" rows="6" class="form-control"
                       ng-model="owner.note"></textarea>
            </div>
            <!-- ./ Owner Note -->

            <div class="pull-left">
                <a href="javascript:history.go(-1)" class="btn btn-default">Cancel</a>

                <!--Edit Button-->
                <button class="btn btn-success" ng-click="onUpdate()" ng-show="owner_create === false" ng-disabled="ownerForm.$invalid">
                    Update
                </button>

                <!--Create Button-->
                <button class="btn btn-success" ng-click="onStore()" ng-show="owner_create === true" ng-disabled="ownerForm.$invalid">
                    Save
                </button>
            </div>
        </form>
    </div>
</section>